<!--
<div>

<ul class="nav justify-content" style="background-color:black;font-size:15px;">
  <li class="nav-item" style="margin-top: 9px;">
    <h2 class="h2" style="color: white;margin-left: 5px;font-family:cursive;">All-In-One</h2>
  </li>
 
  <li class="nav-item">
    <a routerLink="/" routerLinkActive="active" class="nav-link"></a>
  </li>
    <li class="nav-item">
      <a routerLink="/login" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="/signup" class="nav-link">Sign up</a>
    </li>
    <li>
      <h3 style="margin-left:700%;margin-top: 10px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:rgb(245, 222, 222)">{{currentuser}}</h3>
    </li>
  </ul>
</div>
-->



 
